    <head>
        <style>
       #map {
        height: 400px;
        width: 100%;
        background-color: grey;
       }
    </style>
      <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/gmap">Googlemaps</a></p>
        <p><a href="/projects">Projects</a></p>
    
    </head>