<DOCTYPE <html>
    <html>
        {{> header}}
        <h1>{{pageTitle}}</h1>
            <p>This site is curently in development. Please come again!</p>
        {{> footer}}
    </html>
    

</html>
